{% extends "base.html" %}

{% block content %}
    <h2> This is your personal covid database
    </h2>    
    
    <!-- when the user submits this form, it will send the information submitted from the client (frontend)
    to the server (backend). It will send that infromation to a particular URI, at "/color". 
    Your server will then run the code which is defined in website.py at that route. -->
    <div class="myDiv">
    </div>

    <form action="/create" method="post">
        <!-- get name + date from the user -->
       <div class="Divinput">
            <label for="name"> Today I met: </label>
            <input type="text" name="name" id="name" required>
            <br>
            <br>
            <label for="date"> the date is: </label>
            <input type="date" name="date" id="date" required>

            <input type="submit" value="Submit">
        </div>
    </form>

    <table>
        <p> So far, I have met...
        </p>
        
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
        </tr>
        
        <!-- display in a table -->

        {% for t in meetings %}
            <tr>
            {% for i in t %}
                <td>{{ i }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
